.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: #2e363e;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }

}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
    animation:notificationAnimation 2s ease-in-out infinite;
}
.nav__btn{
    position: relative;
}
.nav__dot{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position:absolute;
    left: 35px;
    bottom: 30px;
    
}

@keyframes appearBtnAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.nav__btn{
    transform: translateY(50px);
    opacity: 0;
    animation:appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2){
    animation-delay: 0.3s;
}
.nav__btn:nth-child(3){
    animation-delay: 0.5s;
}
.nav__btn:last-child{
    animation-delay: 0.8s;
}