.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: #2e363e;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav__btn{
    position: relative;
}
.nav__dot{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position:absolute;
    left: 35px;
    bottom: 30px;
    
}